# Ignore python cache files
__pycache__/
*.pyc
*.pyo

# Ignore env and venv dir
env/
venv/
.venv/

# Ignore docker-related files
Dockerfile
compose.yaml

# Ignore version control sys dir and files
.git/
.gitignore/

# Ignore ide config dir and files
.vscode/
.idea/