<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body id="Index">
    <div class="navbar">
        <a href="http://127.0.0.1:7777/index">Index</a>
        <a href="http://127.0.0.1:7777/login">Login</a>
        <a href="http://127.0.0.1:7777/cadastro">Cadastro</a>
        <a href="http://127.0.0.1:7777/perfil">Perfil</a>
      </div>

    <h1>Bem-Vindo</h1>
    <h2>Sobre os elementos do mundo de avatar</h2>

    <h3>Fogo</h3>
    <p class="centered"><span>Criatividade e Inovação:</span> O fogo é frequentemente relacionado à criatividade e à inovação. Os praticantes deste elemento podem ter uma mente criativa e pensar fora da caixa, buscando constantemente novas maneiras de abordar problemas e desafios. Assim como o fogo pode queimar persistentemente, os praticantes deste elemento geralmente são determinados e possuem uma forte força de vontade. Eles não desistem facilmente e são persistentes em alcançar seus objetivos. O elemento Fogo também está associado à impulsividade e à agilidade. Aqueles que se alinham com esse elemento podem agir rapidamente e impulsivamente, muitas vezes seguindo seus instintos em vez de uma abordagem mais ponderada.</p>
    <input type="submit" onclick="window.location.href='/cadastro?elemento=fogo'" value="Cadastrar-se para Fogo"></input>

    
    <h3>Agua</h3>
    <p class="centered"><span>Adaptabilidade e Flexibilidade:</span>A água é fluida e pode se moldar a diferentes formas e ambientes. Da mesma forma, os praticantes da água são frequentemente vistos como adaptáveis e flexíveis em suas abordagens e pensamentos.  A água é associada à intuição e à sensibilidade. Aqueles que se identificam com o elemento água muitas vezes possuem uma forte empatia e capacidade de compreender as emoções dos outros. A água flui naturalmente, buscando sempre o equilíbrio. Os praticantes da água valorizam a harmonia e procuram manter o equilíbrio em todas as áreas de suas vidas. </p>
    <input type="submit" onclick="window.location.href='/cadastro?elemento=agua'" value="Cadastrar-se para Água"></input>
    
    <h3>Terra</h3>
    <p class="centered"><span>Estabilidade e Firmeza:</span> Assim como a terra é estável e firme, os praticantes deste elemento são frequentemente vistos como pessoas estáveis e confiáveis, que oferecem apoio e segurança aos outros ao seu redor. A terra é associada à praticidade e ao realismo. Aqueles que se alinham com este elemento tendem a ser pessoas práticas, que lidam bem com questões do dia a dia e têm os pés no chão. A terra é um símbolo de força e resistência. Os praticantes da terra são vistos como pessoas fortes, tanto fisicamente quanto emocionalmente, capazes de enfrentar desafios e superar obstáculos com determinação.</p>
    <input type="submit" onclick="window.location.href='/cadastro?elemento=terra'" value="Cadastrar-se para Terra"></input>
    
    <h3>Ar</h3>
    <p class="centered"><span>Liberdade e Independência:</span>O ar é um elemento livre e não confinado, e aqueles que se identificam com ele muitas vezes valorizam a liberdade e a independência, buscando explorar novos horizontes e seguir seus próprios caminhos. O ar é fluido e pode se adaptar facilmente a diferentes situações e ambientes. Os praticantes deste elemento são frequentemente vistos como adaptáveis e flexíveis, capazes de se ajustar às mudanças com facilidade. O ar é associado à mente e à comunicação. Aqueles que se alinham com este elemento geralmente têm uma mente aberta e são comunicativos, capazes de expressar suas ideias e se comunicar efetivamente com os outros.</p>
    <input type="submit" onclick="window.location.href='/cadastro?elemento=ar'" value="Cadastrar-se para Ar"></input>
    
</body>
</html>

