<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    
</head>
<body id="Login">
    <div class="navbar">

        <img src="/static/imagem/icone.webp" alt="Icon" class="nav-icon">
        <div class="direita">
            <a href="http://127.0.0.1:8000/">Index</a>
            <a href="http://127.0.0.1:8000/login">Login</a>
            <a href="http://127.0.0.1:8000/cadastro">Cadastro</a>
            <a href="http://127.0.0.1:8000/perfil">Perfil</a>
        </div>
      </div>
    <div class="container">
        <h1>Login</h1>
        <!--Exibir mensagem caso tenha-->
        {% if message %}
        <div style="color: red;">{{ message }}</div>
        {% endif %}
        <form action="/login/enviar" method="post">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>